body {
    margin : 0px;
    background-color : gray; 
}

.container {
    width : 1000px;
    margin : 0 auto;
    border-left : 3px solid black;
    border-right : 3px solid black;
    background-color : #c7c7c7;
}

.header {
    background-color : skyblue;
    width : 100%;
    border-bottom : 3px solid black;
}

.header p {
    margin-left: 30px !important;
}

.nav {
    margin : 0 auto;
    text-align : center;
    width : 100%;
}

.nav div {
    display : inline-block;
    background-color : darkgreen;
    width : 140px;
    height : 140px; 
    margin : 50px;
}

.nav .square a {
    vertical-align : middle;
    line-height : 100px;
}

.content {
    background-color : #c7c7c7;
    overflow-x : auto;
    padding : 20px;
}

.footer {
    border-top : 3px solid black;
	background-color : skyblue;
    text-align : center;
    width : 100%;
}

div.row {
    height : 30px;
    overflow-x : hidden;
}

div.row p {
    line-height : 30px;
    margin : 0px;
    vertical-align : middle;
}

.nowrap {
    white-space : nowrap;
}